/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-text-weight);
  background-image:
    var(--repeating-gradient-to-right),
    var(--repeating-gradient-to-bottom),
    var(--color-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-block: 100px;
  display: grid;
  justify-items: center;
}

.resizable__section {
  inline-size: var(--resizable-width);
  background-color: var(--bg-color);
  color: var(--color);
  border: 2px solid var(--accent-color);
}

.header {
  font-family: var(--accent-font, fantasy);
  font-variation-settings: 'wght' var(--regular-weight);
  padding-block: var(--header-padding-block);
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-block-end: clamp(98px, calc(100px - (2 * (100vw - 375px) / (700 - 375))), 100px);
}

.header__title {
  font-size: var(--header-title-font-size);
  line-height: 100%;
}

.header__subtitle {
  font-size: var(--header-subtitle-font-size);
  line-height: 100%;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 50px;
}

.cards__section {
  display: grid;
  grid-template-rows: repeat(8, min-content);
  grid-auto-rows: min-content;
  row-gap: 50px;
}

.card {
  font-size: var(--card-main-font-size);
}

.content-card {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-auto-rows: min-content;
  row-gap: 25px;
  padding: 25px;
}

.card-title {
  padding: 6px 10px;
  font-variation-settings: 'wght' var(--title-weight);
  line-height: 100%;
}

.image__section {
  position: relative;
}

.image {
  object-fit: cover;
  max-inline-size: 100%;
  aspect-ratio: 1 / 1;
  border-block-start: 2px solid var(--accent-color);
}

.image-filter-grayscale {
  filter: grayscale(100%);
}

.image-filter-invert {
  filter: invert(0.7);
}

.image-filter-saturate {
  filter: saturate(900%);
}

.image-multiple-filter {
  filter: brightness(50%) blur(1.5px) contrast(50%);
}

.image-filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.image-filter-blur {
  filter: blur(3px);
}

.image-filter-sepia {
  filter: sepia(100%);
}

.image-label {
  position: absolute;
  inset-block-start: 27px;
  inset-inline-end: 25px;
  font-family: var(--accent-font, fantasy);
  font-weight: var(--regular-weight);
  font-size: var(--decor-font-size);
  line-height: 100%;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    1px 0 var(--text-stroke-color),
    -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
}

@supports ((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card-paragraph {
  line-height: 21px;
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  display: flex;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  padding: 12px 20px;
}

.button {
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::after {
  transform: scaleX(1);
}

.like-span {
  display: block;
  min-inline-size: 84px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--hover-color);
  mix-blend-mode: difference;
}

.button-decor {
  font-family: var(--accent-font, fantasy);
  font-variation-settings: 'wght' var(--regular-weight);
  font-size: var(--decor-font-size);
  line-height: 90%;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--hover-svg-color);
}

.like-icon:hover .core {
  fill: var(--hover-svg-color);
}

.like-icon:active .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--fill-color);
}

.like-icon:active .core {
  fill: var(--fill-color);
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .heart {
  animation: pulse-scale-up 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
  transform-origin: center;
}

.floppy__section {
  display: flex;
  justify-content: center;
}

.floppy__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
  background-color: var(--bg-color);
}

.floppy-svg {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  fill: currentColor;
  color: var(--hover-color);
  mix-blend-mode: difference;
}

.floppy-dialog:open {
  max-width: 100%;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  color: var(--color);
  padding: 28px;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 30px;
}

.floppy-dialog:open .floppy-dialog-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.floppy-dialog-svg {
  width: 39px;
  height: 39px;
  fill: currentColor;
  color: var(--color);
}

.floppy-dialog-paragraph {
  max-inline-size: 234px;
  line-height: 150%;
  text-transform: uppercase;
}

.floppy-dialog-button {
  background-color: var(--bg-color);
  padding: 11.5px 130.5px 9.5px;
  text-transform: uppercase;
}

.floppy-dialog::backdrop {
  background-color: var(--backdrop-bg-color);
  opacity: 0.75;
}

@media (width <= 375px) {
  .floppy__button {
    flex-direction: column;
    gap: 10px;
  }

  .floppy-svg {
    width: 28px;
    height: 28px;
  }

  .floppy-dialog:open {
    padding: 28px 38px;
  }

  .floppy-dialog-button {
    padding: 11.5px 114.5px 9.5px;
  }
}
